<div *ngIf="!product">
    <p>Cargando producto...</p>
  </div>
  <div class="row" *ngIf="product">
    <div class="col-lg-8 offset-lg-2">
      <div class="row">
        <div class="col-lg-6">
            <img class="producto_imagen card-img-top" src="{{url+'get-image-product/'+product.image}}" alt="No image">
        </div>  	
        <div class="col-lg-4 offset-lg-1">
          <h3>{{product.name}}</h3>
          <p><strong>{{product.price}} €</strong></p>
          <p>{{product.description}}</p>
          <a style="margin-right:15px" [routerLink]="['/product-list']" class="btn btn-danger">Todos los productos</a>
        </div>
      </div>
    </div>
</div>
